/* Typography */
body {
    font-family: 'Merriweather', serif;
    font-size: small;
    color: #333;
    background-color: #eee;
    width: 90%;
    max-width: 900px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: normal;
}
h1 + h2.subscription {
    font-size: small;
    margin-top: -1em;
    color: #888;
    letter-spacing: 0.1em;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

label {
  display: inline-block;
  width: 14em;
}
label:after {
  content: ":";
  margin-right: 1em;
}
input {
  background: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 3px;
}

header h1 a {
  color: inherit;
  text-decoration: inherit;
}
table {
  margin: 0 0 4em 0;
  width: 100%;
  border-collapse:: collapse;
}
table th {
  width: 25%;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
table td {
  width: 25%;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  footer {
    display: none;
  }
}
